<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h2>About Us</h2>
      <p>
        Welcome to Hero app, the ultimate online destination for all things
        heroic and extraordinary! Immerse yourself in a captivating world where
        heroes, both fictional and real, come to life. Whether you're a seasoned
        fan or just discovering the magic of heroism, our site is your gateway
        to a thrilling universe of inspiration, courage, and larger-than-life
        stories.
      </p>
    </div>
    <div class="footer-section">
      <h2>Quick Links</h2>
      <ul>
        <li><a routerLink="/add">Add Hero</a></li>
        <li><a routerLink="/list">List Hero</a></li>
        <li><a routerLink="/story">Story</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h2>Contact Us</h2>
      <p>
        Email:<a href="mailto:Medyahiabadra@gmail.com">Medyahiabadra@gmail.com</a>
        <br />Phone:+216 90.419.661
      </p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Heroes.com. All Rights Reserved.</p>
  </div>
</footer>
