<footer>
    <div class="footer-container">
      <div class="footer-section">
        <h2>About Us</h2>
        <p>Your website's mission and description can go here.</p>
      </div>
      <div class="footer-section">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="products.html">Products</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h2>Contact Us</h2>
        <p>Email: Medyahiabadra@gmail.com<br>Phone:+216 90.419.661</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Heroes.com. All Rights Reserved.</p>
    </div>
  </footer>