<app-header></app-header>
<main>
    <section class="contact-section">
      <div class="contact-info">
        <h2>Contact Us</h2>
        <p>Feel free to get in touch with us.</p>
        <p>Email: Medyahiabadra@gmail.com</p>
        <p>Phone: +216 90.419.661</p>
        <p>Address: 07 rue narjess,kairouan </p>
      </div>
      <div class="contact-form">
        <h2>Send us a Message</h2>
        <form action="submit_form.php" method="POST">
          <input type="text" name="name" placeholder="Your Name" required>
          <input type="email" name="email" placeholder="Your Email" required>
          <textarea name="message" placeholder="Your Message" rows="5" required></textarea>
          <button type="submit">Send</button>
        </form>
      </div>
     
    </section>
  </main>
  <app-footer></app-footer>
