<app-header></app-header>
<h1 class="text-center mt-5 text-light">Hero App</h1>

<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="heroForm" class="row g-3">
        <div class="col-md-12">
          <input
            formControlName="name"
            name="name"
            type="text"
            class="form-control mb-3"
            placeholder="Hero name"
          />
        </div>
        <div class="col-md-12">
          <input
            formControlName="power"
            name="power"
            type="number"
            class="form-control mb-3"
            placeholder="Power"
          />
        </div>
        <div class="col-md-12">
          <input
            formControlName="imgUrl"
            name="imgUrl"
            type="text"
            class="form-control mb-3"
            placeholder="Enter URL image"
          />
        </div>
        <div class="col-md-12">
          <textarea
            formControlName="description"
            name="description"
            class="form-control mb-3"
            rows="5"
            placeholder="Enter description"
          ></textarea>
        </div>
        <div class="col-md-12">
          <button
            (click)="add()"
            class="btn btn-primary btn-block"
            style="width: 150px"
          >
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
