<app-header></app-header>
<h1 class="text-center mt-5 text-light">Hero App</h1>

<div class="container">
  <div class="row mt-5">
    <form [formGroup]="heroForm">
      <div class="form-group">
        <input
          formControlName="name"
          name="name"
          type="text"
          class="form-control m-1"
          placeholder="Hero name"
        />
      </div>
      <div class="form-group">
        <input
          formControlName="power"
          name="power"
          type="number"
          class="form-control m-1"
          placeholder="Power"
        />
      </div>
      <div class="form-group">
        <input
          formControlName="imgUrl"
          name="imgUrl"
          type="text"
          class="form-control m-1"
          placeholder="url image"
        />
      </div>
      <div class="col-3">
        <button (click)="add()" class="btn form-control">Create</button>
      </div>
    </form>
  </div>
</div>
