<app-header></app-header>
<div class="container">
  <h1 class="text-center">Hero Stories</h1>
  <div class="row">
    <!-- Hero 1 -->
    <div class="col-md-12">
      <img
        src="https://e0.pxfuel.com/wallpapers/238/852/desktop-wallpaper-masque-luffy-smiling-one-piece-par-lilzer99-in-2020-anime-anime-one-piece-manga-luffy-smile.jpg"
        alt="Hero 1"
        class="hero-image"
      />
      <div class="hero-story mt-2">
        <h2>Hero 1: The Valiant</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor
          justo eu turpis mattis, vel sagittis elit pharetra.
        </p>
      </div>
    </div>

    <!-- Hero 2 -->
    <div class="col-md-12">
      <img
        src="https://e0.pxfuel.com/wallpapers/238/852/desktop-wallpaper-masque-luffy-smiling-one-piece-par-lilzer99-in-2020-anime-anime-one-piece-manga-luffy-smile.jpg"
        alt="Hero 2"
        class="hero-image"
      />
      <div class="hero-story mt-2">
        <h2>Hero 2: The Enchantress</h2>
        <p>
          Nulla facilisi. Duis eu leo vitae nulla malesuada pharetra. Vestibulum
          condimentum quam id risus sagittis, nec volutpat libero condimentum.
        </p>
      </div>
    </div>

    <!-- Hero 3 -->
    <div class="col-md-12">
      <img
        src="https://t1.gstatic.com/licensed-image?q=tbn:ANd9GcSZyXJ-5ffnk6JoqwefBZwlO2O1CEtxmjE0OD8xwaWnjzGLWdSvpMRoRDFxAk9UTsKe"
        alt="Hero 3"
        class="hero-image"
      />
      <div class="hero-story mt-2">
        <h2>Hero 3: The Shadowblade</h2>
        <p>
          Quisque ut orci eu urna feugiat elementum. Aliquam erat volutpat. In
          hac habitasse platea dictumst. Nullam gravida mi sit amet sem
          ultricies, vel facilisis orci tempor.
        </p>
      </div>
    </div>

    <!-- Hero 4 -->
    <div class="col-md-12">
      <img
        src="https://eventyrhuset.no/cdn/shop/collections/christianoe_64662_Batman_77a1e2b3-fcef-411f-9733-f5a075778a17.png?v=1693423809"
        alt="Hero 4"
        class="hero-image"
        loading="lazy"
      />
      <div class="hero-story mt-2">
        <h2>Hero 4: The Time Traveler</h2>
        <p>
          Proin bibendum, sapien sit amet auctor gravida, ligula orci commodo
          nisl, id iaculis est velit vel elit. Nunc facilisis arcu non odio
          rhoncus dapibus.
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
