<app-header></app-header>
<div class="container mt-5">
  <h1 class="text-center">Heroes story</h1>

  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4 shadow-sm">
        <img
          src=""
          class="card-img-top"
          alt="Hero 1 Image"
        />
        <div class="card-body">
          <p class="card-text">Description for Hero 1.</p>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card mb-4 shadow-sm">
        <img src="hero2.jpg" class="card-img-top" alt="Hero 2 Image" />
        <div class="card-body">
          <p class="card-text">Description for Hero 2.</p>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card mb-4 shadow-sm">
        <img src="hero3.jpg" class="card-img-top" alt="Hero 3 Image" />
        <div class="card-body">
          <p class="card-text">Description for Hero 3.</p>
        </div>
      </div>
    </div>
    
  </div>
</div>

<app-footer></app-footer>
