<app-header></app-header>
<div class="container">
  <h1 class="text-center m-5">Hero Stories</h1>
  <div>
    <!-- Hero 1 -->
    <div class="hero-container d-flex align-items-center">
      <div class="col-md-6">
        <h2>Hero 1: The Valiant</h2>
        <img
          src="https://e0.pxfuel.com/wallpapers/238/852/desktop-wallpaper-masque-luffy-smiling-one-piece-par-lilzer99-in-2020-anime-anime-one-piece-manga-luffy-smile.jpg"
          alt="Hero 1"
          class="hero-image"
        />
      </div>
      <div class="col-md-4">
        <p>
          Nulla facilisi. Duis eu leo vitae nulla malesuada pharetra. Vestibulum
          condimentum quam id risus sagittis, nec volutpat libero condimentum.
        </p>
      </div>
    </div>

    <!-- Hero 2 -->
    <div class="hero-container d-flex align-items-center">
      <div class="col-md-6">
        <h2>Hero 1: The Valiant</h2>
        <img
          src="https://e0.pxfuel.com/wallpapers/238/852/desktop-wallpaper-masque-luffy-smiling-one-piece-par-lilzer99-in-2020-anime-anime-one-piece-manga-luffy-smile.jpg"
          alt="Hero 1"
          class="hero-image"
        />
      </div>
      <div class="col-md-4">
        <p>
          Nulla facilisi. Duis eu leo vitae nulla malesuada pharetra. Vestibulum
          condimentum quam id risus sagittis, nec volutpat libero condimentum.
        </p>
      </div>
    </div>

    <!-- Hero 3 -->
    <div class="hero-container d-flex align-items-center">
      <div class="col-md-6">
        <h2>Hero 1: The Valiant</h2>
        <img
          src="https://e0.pxfuel.com/wallpapers/238/852/desktop-wallpaper-masque-luffy-smiling-one-piece-par-lilzer99-in-2020-anime-anime-one-piece-manga-luffy-smile.jpg"
          alt="Hero 1"
          class="hero-image"
        />
      </div>
      <div class="col-md-4">
        <p>
          Nulla facilisi. Duis eu leo vitae nulla malesuada pharetra. Vestibulum
          condimentum quam id risus sagittis, nec volutpat libero condimentum.
        </p>
      </div>
    </div>

    <!-- Hero 4 -->
    <div class="hero-container d-flex align-items-center">
      <div class="col-md-6">
        <h2>Hero 1: The Valiant</h2>
        <img
          src="https://i.pinimg.com/736x/57/f1/3e/57f13ec1b6e2d5712d03fec842e08356.jpg"
          alt="Hero 1"
          class="hero-image"
        />
      </div>
      <div class="col-md-4">
        <p>
          Nulla facilisi. Duis eu leo vitae nulla malesuada pharetra. Vestibulum
          condimentum quam id risus sagittis, nec volutpat libero condimentum.
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
