<app-header></app-header>

<h1 class="text-center mt-5 text-light" style="font-size: 55px">Hero App</h1>

<div class="container-fluid hero-section">
  <div class="row my-5">
    <div class="col-md-6">
      <div class="panel">
        <img src="assets/images/spider.png" alt="Image" class="img-fluid" />
      </div>
    </div>
    <div class="col-md-6 mt-5">
      <div class="panel">
        <h2 class="hero-title">Story Of Heroes</h2>
        <p class="hero-description">
          In narratology and comparative mythology, the hero's journey, also
          known as the monomyth, is the common template of stories that involve
          a hero who goes on an adventure, is victorious in a decisive crisis,
          and comes home changed or transformed.
        </p>
        <button type="button" class="btn btn-warning mt-4" routerLink="/story">
          Story of heroes
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-3 col-sm-6 mb-4" *ngFor="let item of heroes">
      <div class="card">
        <div
          [ngClass]="{
            'bg-success': item && item.power && item.power <= 50,
            'bg-warning': item && item.power > 50 && item.power <= 100,
            'bg-info': item && item.power && item.power > 100
          }"
        >
          <div class="card-img-container">
            <img
              [src]="item && item.imgUrl && item.imgUrl"
              alt="Card image cap"
              (click)="details(item.id)"
              style="cursor: pointer"
              class="img-fluid"
            />
          </div>
          <div class="card-body text-white">
            <h5 class="card-title" *ngIf="item && item.name">
              {{ item.name }}
            </h5>
            <p class="card-text" *ngIf="item && item.power">
              Power: {{ item.power }}
            </p>
            <div class="d-flex justify-content-between mt-3">
              <button class="btn btn-danger" (click)="delete(item.id)">
                Delete
              </button>
              <button
                [routerLink]="['/update', item.id]"
                class="btn btn-primary"
                (click)="updateHero(item.id)"
              >
                Edit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img
          src="https://facts.net/wp-content/uploads/2023/09/11-facts-about-monkey-d-luffy-one-piece-1693613904.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h3>Luffy</h3>
          <p>Luffy was born 19 years ago in Foosha Village to Monkey D.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="https://cdn.mos.cms.futurecdn.net/2NBcYamXxLpvA77ciPfKZW-1200-80.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h3>Batman</h3>
          <p>
            Batman is a superhero appearing in American comic books published by
            DC Comics.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://static1.cbrimages.com/wordpress/wp-content/uploads/2023/04/one-piece-zoro-s-10-best-moves-ranked-according-to-strength.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h3>Zoro</h3>
          <p>
            Zoro is a muscular man of average height with lightly tanned skin.
          </p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container-fluid hero-section">
    <div class="row my-5">
      <div class="col-md-5">
        <div class="panel">
          <h2 class="hero-title">Grimstroke</h2>
          <p class="hero-description">
            The people of Ashkavor crowded around the temple square, eager to
            witness the ascension of their new guardian -- to stand near the man
            as he bound their souls to his own. But as his final brush strokes
            fell against the runestone, and the bond of a new Ascended One was
            forged, everyone -- even those who'd stayed in their homes -- could
            sense that something had gone terribly wrong.
          </p>
          <button
            type="button"
            class="btn btn-warning mt-4"
            routerLink="/story"
          >
            Story of heroes
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="image">
          <img
            src="assets/images/grimstroke.png"
            alt="Image"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-5">
  <app-footer></app-footer>
</div>
